body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.heading{
    font-size: 40px;
    font-weight: 700;
}
.division-margin{
    margin-left: 95px;
    padding: 5px;
}
.heading-orange{
    color: orange;
}
.first-para{
    text-align: justify;
    font-weight: 600;
}
.first-button{
    display: inline-block;
    background-image: linear-gradient(#FF9A75,#FF684B);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
}
/* Style for second section ======*/
.section2-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 250px;
}
.division-margin-right{
    margin-right:30px;
    padding: 10px;
}