body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
}
.heading{
    font-size: 40px;
    font-weight: 700;
}
.division-margin{
    margin-left: 95px;
    padding: 5px;
}
.heading-orange{
    color: orange;
}
.first-para{
    text-align: justify;
    font-weight: 600;
}
.first-button{
    display: inline-block;
    background-image: linear-gradient(#FF9A75,#FF684B);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
}
/* Style for second section ======*/

.section2-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 250px;
}
.section-3>h1{
    font-size: 25px;
}
.division-margin-right{
    margin-right:30px;
    padding: 10px;
}

/* start styling section-3 */
.section-3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.section-3>h1 {
    font-weight: 900;
    font-size: 35px;
}
#section-3-left{
    margin-left: 95px;
    margin-right: 25px;
    border-left: 5px solid orange;
    border-image: linear-gradient(orange, #FF6549) 30;
    box-shadow: 5px 7px 30px 10px gray;
}
#section-3-right{
    margin-left: 25px;
    margin-right: 95px;
    border-left: 5px solid orange;
    border-image: linear-gradient(blue, #FF6549) 30;
    box-shadow: 5px 7px 30px 10px gray;
}
#section-3-left h1{
    font-size: 40px;
    padding: 10px;

}
#section-3-right h1{
    font-size: 40px;
    padding: 10px;

}
#section-3-left h2{
    color: orange;
    padding: 10px;

}
#section-3-right h2{
    color: orange;
    padding: 10px;

}
#section-3-left p, #section-3-right{
    padding: 10px;

}

footer p{
    text-align: center;
    font-weight: 700;
}
